---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <div class="grid-container">
      <!-- 5x5 grid items -->
  
      <a class="grid-item item1" href="/design/uniquely-rural"
        ><div class="thumbnail-text">Uniquely Rural</div><img
          src="/assets/thumbnail-uniquely-rural.jpeg"
        />
      </a>
      <a class="grid-item empty"><div class="thumbnail-text">4</div></a>
      <a class="grid-item empty">5</a>
      <a class="grid-item empty">6</a>
      <a class="grid-item empty">7</a>
      <a class="grid-item item8" href="/design/cci-thermal"
        ><img src="/assets/thumbnail-cci-thermal.JPG" />
        <div class="thumbnail-text">CCI Thermal Technologies Inc.</div>
      </a>
      <a class="grid-item item9" href="/design/annual-report"
        ><img src="/assets/thumbnail-rma-annualreport.png" />
        <div class="thumbnail-text">Annual Report</div>
      </a>
      <a class="grid-item item10" href="/design/conventions">
        <img src="/assets/thumbnail-conventions.jpeg" />
        <div class="thumbnail-text">Conventions</div>
      </a>
      <a class="grid-item item11" href="/design/submerged">
        <img src="/assets/thumbnail-submerged.jpg" />
        <div class="thumbnail-text">Submerged</div>
      </a>
      <a class="grid-item empty"></a>
      <a class="grid-item item13" href="/design/sano-ichiro"
        ><img
        src="/assets/thumbnail-sanoichiro.jpg"/>
        <div class="thumbnail-text">Sano Ichiro</div>
      </a>
      <a class="grid-item empty">14</a>
      <a class="grid-item item15" href="/design/cmef"> 
        <img src="/assets/thumbnail-cmef.jpg" />
        <div class="thumbnail-text">CMEF</div>
      </a>
      <a class="grid-item item16" href="/design/canoe">
        <img src="/assets/thumbnail-canoe.jpg" />
        <div class="thumbnail-text">Canoe Procurement Group of Canada</div>
      </a>
      <a class="grid-item empty"></a>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    min-height: 100vh;
    padding-bottom: 90px;
    padding-top: 30px;
    display: grid;
    place-items: center;
  }
  /*Mobile Phone min width 360px*/

  .grid-container {
    display: grid;
    width: 100%;
    gap: 8px;
  }

  .grid-item > img {
    object-fit: cover;
    height: 85px;
    width: 100%;
  }

  a.grid-item {
    position: relative;
    display: block;
  }

  a.grid-item.empty {
    display: none;
  }

  .thumbnail-text {
    font-size: 20px;
    color: #fff;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
  }

  .grid-item:hover .thumbnail-text {
    opacity: 1;
    transition: 0.7s ease;
  }

  .grid-item:hover img {
    filter: saturate(0);
    transition: 0.7s ease;
  }

  /*Tablet*/

  @media only screen and (min-width: 750px) {
    .grid-container {
      width: calc(100vw - 35%);
      margin: 0 auto;
    }

    .grid-item > img {
      height: 120px;
    }
  }

  /*Desktop*/

  @media only screen and (min-width: 1100px) {
    .grid-container {
      grid-template-columns: repeat(5, 205px);
      grid-template-rows: repeat(5, 70px);
      gap: 10px;
      width: 1065px;
      margin: 0 30px;
      margin-top: 130px;
    }

    .grid-item {
      background-color: #ccc;
      position: relative;
    }

    .grid-item > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    a.grid-item.empty {
      opacity: 0;
      display: block;
    }
    /* 75px 75px 225px 125px 75px*/

    .item1 {
      grid-column: 3;
      grid-row: 1 / 2;
    }

    .item8 {
      grid-column: 2;
      grid-row: 3 / 5;
    }

    .item9 {
      grid-column: 3;
      grid-row: 2 / 5;
    }

    .item10 {
      grid-column: 1;
      grid-row: 2 / 4;
    }

    .item11 {
      grid-column: 1;
      grid-row: 4 / 4;
    }

    .item12 {
      grid-column: 5;
      grid-row: 2 / 4;
    }

    .item13 {
      grid-column: 4;
      grid-row: 3 / 5;
    }

    .item15 {
      grid-column: 4;
      grid-row: 2;
    }

    .item16 {
      grid-column: 5;
      grid-row: 3 / 5;
    }
  }
</style>
