<a class="back-button" href="/design">Back to Design</a>

<style>
  .back-button {
    background: none;
    border: 1px solid #bc243f;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 50px;
    display: block;
  }

  a:visited {
    color: #000000;
  }

  a:hover {
    color: #bc243f;
  }

  @media only screen and (min-width: 425px) {
    .back-button {
      width: fit-content;
    }
  }
</style>
