---
import "../../styles/global.css";
import CVLayout from "../../layouts/CVLayout.astro";

const publications = [
  {
    title: "RMA Member Committee on Quasi-Judicial Agencies",
    author: "Rural Municipalities of Alberta",
    date: "Nov 2023"
  },
  {
    title: "Annual Reports",
    author: "Rural Municipalities of Alberta",
    date: "2019 - 2023",
  },
  {
    title: "Impact of Carbon Pricing on Rural Albertans - Households",
    author: "Rural Municipalities of Alberta",
    date: "Oct 2023"
  },
  {
    title: "Impact of Carbon Pricing on Rural Albertans - Municipal Corporations",
    author: "Rural Municipalities of Alberta",
    date: "Oct 2023"
  },
  {
    title: "Product Manuals and Catalogues",
    author: "CCI Thermal Technolgies Inc. / Thermon Heating Systems Inc.",
    date: "2015 - 2018",
  },
  {
    title: "Screwballs",
    author: "Catherine A. Mardon",
    date: "Jan 2015",
  },
  {
    title: "A Home at Last",
    author: "Emily Rush, Jason Halbauer, Noah Hopchins",
    date: "Jun 2014",
  },
  {
    title: "The Works Art and Design Festival Guide",
    author: "",
    date: "Jun 2014",
  },
  {
    title: "Alberta Anglican Politicians",
    author: "Ernest G, Mardon and Austin A. Mardon",
    date: "2013",
  },
  {
    title: "Designed by Providence",
    author: "Austin A. Mardon",
    date: "2012",
  },
];
---

<CVLayout>
  <h1>Publications</h1>
  {
    publications.map((publication) => (
      <p>
        {`${publication.title}${publication.author && ", "}${
          publication.author
        } (${publication.date})`}
      </p>
    ))
  }
</CVLayout>
